//- 어떤 object가 전달되면 그 object의 이름은 video가 될 것임(ex, home.pug에서 videos object array의 요소를 하나씩를 전달)
//- videoController.js에서 db.js의 videos object array를 home으로 전달하면 videoBlock.pug에서 사용 가능하도록 하나씩 home에서 videoBlock으로 전달
//- 전달 받은 object에서 title 키에 해당하는 값을 h4 태그로 표시
mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=video.videoFile, controls=false)
            h4.videoBlock__title=video.title
            if video.views === 1
                h6.videoBlock__views 1 view
            else
                h6.videoBlock__views #{video.views} views 
