extends templates/layout

block content
  h1=pageTitle
  form(action=`/${movie._id}/edit`, method="post")
    input(type="text", name="title", placeholder="Title", minlength="3", value=movie.title)
    input(type="number", name="year", placeholder="Year", value=movie.year, required="required")
    input(type="text", name="rating", placeholder="Rating", value=movie.rating, required="required")
    textarea(name="synopsis", placeholder="Synopsis", required="required")=movie.synopsis
    input(type="text", name="genres", placeholder="Genres", value=movieGenres, required="required")
    input(type="submit", value="submit")
  a(href=`/${movie._id}/delete`) Delete Movie
