header.header
    .header__nav__wrapper#jsNavWrapper
        .header__nav
            .header__nav__logo__container
                .header__logo__container
                    .header__nav__icon#jsInnerNavIcon
                        <i class="fas fa-bars"></i>
                    a.header__mainLogo#jsInnerMainLogo(href=routes.home)
                        i.fab.fa-youtube
                        h1.header__title W
                            span eT
                            span u
                            span be
                    span.tony Tony
        .header__nav__cover#jsNavCover
    .header__wrapper
        .header__column
            .header__logo__container
                .header__nav__icon#jsHeaderNavIcon
                    <i class="fas fa-bars"></i>
                a.header__mainLogo(href=routes.home)
                    i.fab.fa-youtube
                    h1.header__title W
                        span eT
                        span u
                        span be
                span.tony Tony
        .header__column
            form(action=routes.search, method="get")
                //- action은 이동할 url 임 
                input(type="text", placeholder="Search by term...", name="term")
        .header__column
            <i class="fas fa-ellipsis-v header__menu__icon"></i>
            ul.header__menu(hidden)
                //- 왜 항상 로그인 된걸로 나오지? middleware에서 ||{}을 ||null로 바꾸니 됨
                if !loggedUser
                    a(href=routes.join)
                        li Join
                    a(href=routes.login)
                        li Log In
                else
                    //- #{console.log(user)}
                    a(href=`/videos${routes.upload}`)
                        li Upload
                    a(href=routes.me)
                        li Profile
                    a(href=routes.logout)
                        li Log out